

<div class="jumbotron" style="margin-top: 150px;">
  <h1>Order Is On The Way....!</h1>
  <p>Keep Shopping..!</p>
  <p><a class="btn btn-primary btn-lg" href="<%=root_path%>" role="button">Home Page</a></p>
</div>


